config MTK_DEVMPU
	bool "Enable MTK Device MPU driver"
	help
	  Device MPU is a kernel driver providing
	  non-continuous memory protection in the
	  2MB granularity. Note that the protection
	  is conducted in parallel with EMI MPU.

config MTK_DEVMPU_EMI
	bool "Enable MTK Device MPU with EMI MPU"
	select MTK_DEVMPU
	help
	  Device MPU hardware will receive the violation
	  from EMI MPU hardware. Device MPU driver will
	  receive violation via call-back function of
	  EMI MPU.

config MTK_DEVMPU_SLOG
	bool "Enable slog for Device MPU violation"
	depends on MTK_DEVMPU
	help
	  Say yes here to enable mtk slog. When Device
	  MPU violation occur, Device MPU driver will dump
	  violation info to slog, then slog system record
	  it and list as issue when offline parsing.
